VITE_FIREBASE_API_KEY=AIzaSyCv73gnjpfbvZS64hRW8YNWwx46PGNpFHA
VITE_FIREBASE_AUTH_DOMAIN=agrimart-55ceb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agrimart-55ceb
VITE_FIREBASE_STORAGE_BUCKET=agrimart-55ceb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=867861969954
VITE_FIREBASE_APP_ID=1:867861969954:web:c59e1d73773e19e9675e7b
VITE_API_URL=https://your-railway-app.railway.app
